<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Insurances</title>
</head>
<body>
<form action="create" method="post">
  <h1>Create Insuranc</h1>
  <div>
    <label>
      Name:
      <input type="text" name="name"/>
    </label>
  </div>
  <div>
  <label>
    Price:
    <input type="number" name="price"/>
  </label>
  </div>
  <div>
  <label>
    Min:
    <input type="number" name="min"/>
  </label>
  </div>
  <div>
  <label>
    Max:
    <input type="number" name="max"/>
  </label>
  </div>
  <button type="submit">Create insurance</button>
</form>
</body>
</html>